<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Мир Книг</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
    bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/
    jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/
    js/bootstrap.min.js"></script>

    <!-- Добавление статического СSS-файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}
    <h1 style="color: red; text-align: center;">Продолжаем делать сайт на Django и Python!</h1>
    <img src="{% static 'images/logotip.jpg' %}"
         style="width:150px;" align="absmiddle">
    <h1 style="color: brown;">Сайт "Мир книг"</h1>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidebar-nav">
                <li><a href="{% url 'index' %}">Главная Страница</a></li>
                <li><a href="{% url 'books' %}">Bce книги</a></li>
                <li><a href="{% url 'authors' %}">Bce авторы</a></li>
            </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10">
            {% block content %} {% endblock %}
            {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                        <span class="page-link">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}
                <span class="page_current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
                        </span>
            </div>
            {% endif %}
            {% endblock %}
            {% block footer %}
            {% block copyright %}
            <p>Copyright ООО "Люди и книги", 2020. Все права защищены</p>
            {% endblock %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>